#### KNN 

Suppose we have two groups in your data set.We want to add a another point in our dataset.In which cetogory should it fall.How to classify the new data. KNN will help us to find it.

Steps involved:
1-choose the number K of neighbours.
2-Take the K nearest neighbours of the new data point,according to the euclidean distance.
3-Among these K neighbour, count the number of data points in each categorys.
4-Assign the new data point in the category where you counted the most neighbours.
Model is ready.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("Social_Network_Ads.csv")
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
x = dataset.iloc[:,2:3].values
y = dataset.iloc[:,-1].values

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25, random_state = 0)

In [5]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train) 
x_test = sc.fit_transform(x_test)

### fitting model

In [6]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5,metric = 'minkowski', p = 2)
classifier = classifier.fit(x_train,y_train)

In [7]:
y_pred = classifier.predict(x_test)

In [8]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [9]:
print(cm)

[[56 12]
 [ 4 28]]