In [4]:
nums = [1,2,3,4,5,6,7,8,9]

In [2]:
#In simple words we can say we want n for each n in nums

In [6]:
#simple for loops:
mylist =[]
for n in nums:
    mylist.append(n)

9

In [7]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
mylist = [i*i for i in nums]
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
mylist = [n for n in nums if n%2==0]
mylist

[2, 4, 6, 8]

In [28]:
#I want a (letter,num) pair for each letter in 'abcd' and each number in '01234'
#normal for loop will be
mylist = [(letter,num) for letter in 'abcd' for num in range(4)] 
mylist
#this can also be done using dictionary comprehension:
names = ['Bruce','Clark','Peter','Logan','Wade']
heros = ['Batman','Superman','Spiderman','Wolverine','Deadpool']
zip(names,heroes)
#I want a dictionary dict{'name':'hero'} for each name,hero in zip:
my_dict = {}
#normal code
for name,hero in zip(names,heros):
    my_dict[name] = hero
print(my_dict)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [30]:
#Dictionary comprehensions:
my_dict = {name : hero for name,hero in zip (names,heros)}
my_dict

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Peter': 'Spiderman',
 'Logan': 'Wolverine',
 'Wade': 'Deadpool'}

In [32]:
#You can add if condition also:
#Dictionary comprehensions:
my_dict = {name : hero for name,hero in zip (names,heros) if name != 'Peter'}
my_dict

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Logan': 'Wolverine',
 'Wade': 'Deadpool'}

In [35]:
#Set comphresnsions:A set is a list of unique values. 
nums = [1,2,3,1,2,4,3,6,2,7,1,7,1,8,3]
myset = set()
for n in nums:
    myset.add(n)
#now using comphrension
myset = {n for n in nums}
myset

{1, 2, 3, 4, 6, 7, 8}