### Random Forest:

### Ensamble Learning:
It is when you take multiple algorithms or the same algorithm multiple times and you make it much more powerful then it was alone.
Random forest is one of the Ensamble learning.

### Steps involved in Random Forest Regression 
#### Step-1 - Pick a random K data points from the Training set.
#### Step-2 - Build the decision tree associated to these data points.
#### Step-3 - Choose the number Ntree of tree you want to build and repeat STEPS 1 & 2.
#### Step-4 - For new data point make each one of your Ntree trees predict the value of Y for the data point in question and assign the new data point the average across all the predicted Y values.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
dataset = pd.read_csv("/home/vaibhav/AIGit/RandomForest/Social_Network_Ads.csv")
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
X=dataset.iloc[:,2:4].values
Y=dataset.iloc[:,-1].values

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.25)

In [8]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier = classifier.fit(x_train,y_train)

In [9]:
classifier.predict(x_test)

array([0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0])